<nav class="navbar row navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">SBS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Deposit </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Withdraw</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Transfer funds</a>
        </li>
            <li class="nav-item active">
            <a class="nav-link" href="#">Show transaction report    </a>
        </li>
        </ul>
    </div>
</nav>